
*.csproj
obj/AntiSkillIssue.csproj.nuget.dgspec.json
obj/AntiSkillIssue.csproj.nuget.g.props
obj/project.nuget.cache
obj/AntiSkillIssue.csproj.nuget.g.props
obj/AntiSkillIssue.csproj.nuget.dgspec.json
obj/project.nuget.cache
*.cache
*.cache
obj/Debug/AntiSkillIssue.csproj.AssemblyReference.cache
obj/Debug/AntiSkillIssue.dll
obj/Debug/AntiSkillIssue.pdb
